<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for @question.section do |sf| %>
    <%= sf.hidden_field :id %>
  <% end %>


  <div class="input-wrapper">
    <%= f.text_area :question, :placeholder => "Текст вопроса" %>
  </div>

  <div id="kind">
    <% @question.kinds.each do |id, txt| %>
    <label>
      <%= f.radio_button :kind, id %>
      <span title="<%= txt %>">
        <%= txt %>
      </span>
    </label>
    <% end %>
  </div>


<div style="clear: both;"></div>
<hr>
   <%= link_to (t "buttons.back"), @question.section, :class => "button"%>
   <%= f.submit (t "buttons.save"), :class => "button", :style => "float: right;" %>
<% end %>
