<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <div>
    <%= @question.question %>
  </div>
</p>

<p>
  <b>State:</b>
  <%= t @question.state %>
</p>

<p>
  <b>Kind:</b>
  <%= t @question.kind %>
</p>

<h1>Варианты ответа</h1>

<table>
<% @question.answer_variants.each do |answer_variant| %>
  <tr>
    <td><%= link_to answer_variant.text, answer_variant %></td>
    <% if section_owner? @question.section %>
      <td><%= link_to (t "buttons.bring_up"), bringup_answer_variant_path(answer_variant), :method => :post, :class => 'small_button' %></td>
      <td><%= link_to (t "buttons.bring_down"), bringdown_answer_variant_path(answer_variant), :method => :post, :class => 'small_button' %></td>
      <td><%= link_to (t "buttons.edit"), edit_answer_variant_path(answer_variant), :class => 'small_button' %></td>
      <td><%= link_to (t "buttons.delete"), answer_variant, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'small_button' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<div>
  <% if section_owner? @question.section %>
  <%= link_to (t 'answer-variants.new'), new_question_answer_variant_path(@question), :class => 'small_button' %>
  <% end %>
</div>

<div>
  <% if section_owner? @question.section %>
  <%= link_to (t "buttons.edit"), edit_question_path(@question), :class => 'small_button' %>
  <% end %>
  <%= link_to (t "buttons.back"), @question.section, :class => 'small_button' %>
</div>
