<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <div>
    <%= @question.question %>
  </div>
</p>

<p>
  <b>State:</b>
  <%= t @question.state %>
</p>

<p>
  <b>Kind:</b>
  <%= t @question.kind %>
</p>

<h1>Варианты ответа</h1>

<table>
<% @question.answer_variants.each do |answer_variant| %>
  <tr>
    <td><%= answer_variant.position %></td>
    <td><%= link_to answer_variant.text, answer_variant %></td>
    <td><%= link_to (t "buttons.bring_up"), bringup_answer_variant_path(answer_variant), :method => :post %></td>
    <td><%= link_to (t "buttons.bring_down"), bringdown_answer_variant_path(answer_variant), :method => :post %></td>
    <td><%= link_to (t "buttons.edit"), edit_answer_variant_path(answer_variant) %></td>
    <td><%= link_to (t "buttons.delete"), answer_variant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div>
  <%= link_to 'New Answer variant', new_question_answer_variant_path(@question) %>
</div>

<div>
  <%= link_to (t "buttons.edit"), edit_question_path(@question) %> |
  <%= link_to (t "buttons.back"), @question.section %>
</div>
