<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-wrapper">
       <%= f.text_field :name, :placeholder => "Название мероприятия" %>
  </div>
  <br />
  <div class="input-wrapper">
    <%= f.text_area :descr, :placeholder => "Описание мероприятия" %>
  </div>

<div style="clear: both;"></div>
<hr>
   <%= link_to (t "buttons.back"), meetings_path, :class => "button" %>
   <%= f.submit (t "buttons.save"), :class => "button right" %>
<% end %>
