<% if user_signed_in? %>
  <div id="formHeader">Мои мероприятия</div>

    <div id="mtng">
      <% @my_meetings.each do |meeting| %>
      <div id="mtng" class="name"><%= link_to meeting.name, meeting %></div>
      <div id="mtng" class="descr"><%= meeting.descr %></div>
      <div id="mtng" class="edit">
	<%= link_to 'Редактировать', edit_meeting_path(meeting) %>
	<%= link_to 'Удалить', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>    
      </div>
      <% end %>
    </div>

    <%= link_to 'Создать', new_meeting_path, :class => "button" %>

<% end %>

<% if user_signed_in? %>
  <div id="formHeader">Все мерприятия</div>
<% else %>
  <div id="formHeader">Мероприятия</div>
<% end %>

<div class="meetings">
<% @meetings.each do |meeting| %>
    <div id="mtng" class="name"><%= link_to meeting.name, meeting %></div>
    <div id="mtng" class="descr"><%= meeting.descr %></div>
<% end %>
</div>
