<% if user_signed_in? %>
<div class="formHeader">Мои мероприятия</div>

<div id="mtng">
 <% @my_meetings.each do |meeting| %>
 <div class="mtng">
    <div class="name" style="width: 720px;"><%= link_to meeting.name, meeting %></div>
    <div class="date">27 - 28 ноября 2012</div>

    <div style="clear:both;"> </div>

<div>
    <div class="descr" style="width: 720px;"><%= meeting.descr %></div>
    <div class="edit">
	<%= link_to (t "buttons.edit"), edit_meeting_path(meeting), :class => "small_button" %>
	<%= link_to (t "buttons.delete"), meeting, method: :delete, data: { confirm: 'Удалить ?' }, :class => "small_button"%>
    </div>
</div>
 </div>
 <% end %>
 <div style="clear:both;"> </div>
</div>

<% end %>

<% if user_signed_in? %>
  <div class="formHeader">Все мерприятия</div>
<% else %>
  <div class="formHeader">Мероприятия</div>
<% end %>

<div id="mtng">
<% @meetings.each do |meeting| %>
    <div class="name"><%= link_to meeting.name, meeting %></div>
    <div style="clear:both;"> </div>
    <div class="descr"><%= meeting.descr %></div>
<% end %>
</div>

<hr>
<%= link_to (t "buttons.back"), meetings_path, :class => "button" %>
<%= link_to (t "buttons.create"), new_meeting_path, :class => "button right" %>
