<p id="notice"><%= notice %></p>

<div id="formHeader"></div>

<div id="mtng">
    <div id="mtng" class="name"><%= @meeting.name %></div>
    <div id="mtng" class="descr"><%= @meeting.descr %></div>
</div>


<div id="formHeader">Список секций</div>

<div id="sctn">
<% @meeting.sections.each do |section| %>
    <div id="sctn" class="name"><%= link_to section.name, section  %></div>
    <!--<div id="sctn" class="descr">< %= link_to section.descr, section  %></div>-->
    <div id="sctn" class="edit">
      <%= link_to 'Edit', edit_section_path(section) %>
      <%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>
</div>

<div>
  <%= link_to 'Новая секция', new_meeting_section_path(@meeting), :class => "button"%>
</div>

<!--
  < %= link_to 'Edit', edit_meeting_path(@meeting) %> |
  < %= link_to 'Back', meetings_path %>
-->
