<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meeting.name %>
</p>

<p>
  <b>Descr:</b>
  <%= @meeting.descr %>
</p>

<p>
  <b>User:</b>
  <%= link_to @meeting.user %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
