<% content_for :head do %>
<%= javascript_include_tag "#{Settings.faye.address}/client.js" %>
<%= javascript_include_tag "screen-updater.js" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.SCREEN_CHANNEL = '<%= screen_update_channel(@screen) %>';
<% end %>

<div class="center">
  <img id="bannerImg" class="banner" height="100%" src="/screens/1/banner.jpg" />
</div>

<script>
$(function() {
  $('#bannerImg').height($(window).height());
});

</script>
