<% content_for :head do %>
<%= javascript_include_tag "screen-updater.js" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.SCREEN_CHANNEL = '<%= screen_update_channel(@screen) %>';
<% end %>

<div class="center">
  <img id="bannerImg" class="banner" height="100%" src="/screens/infotex2012/banner.png" />
</div>

<%= javascript_tag do %>
$(function() {
  $('#bannerImg').height($(window).height() - 128);
});
<% end %>
