<% content_for :head do %>
<%= javascript_include_tag "#{Settings.faye.address}/client.js" %>
<%= javascript_include_tag "screen-updater.js" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.SCREEN_CHANNEL = '<%= screen_update_channel(@screen) %>';
<% end %>

<% if @section.active_question %>
<div class="formHeader"><%= @section.active_question.question %></div>

<% @section.active_question.answer_variants.each do |aw| %>
    <div class="row">
      <%= label :answer_variant, :id, aw.text, :value => aw.id %>
    </div>
<% end %>
<% else %>
нет активного вопроса
<% end %>
