<% content_for :head do %>
<%= javascript_include_tag "screen-updater.js" %>
<%= stylesheet_link_tag "section_statistics" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.SCREEN_CHANNEL = '<%= screen_update_channel(@screen) %>';
<% end %>

<% if @section.active_question %>
<div class="formHeader"><%= @section.active_question.question %></div>

<% @section.active_question.formated_answer_variants.each do |aw| %>
<div class="answer_variant" style="margin-right: 4em;">
  <div class="variant_text"> <%= aw[:text] %> </div>
  <div style="width: <%= aw[:percent] %>%" class="variant_strip" > <%= "#{aw[:percent].round 2} %" %> </div>
</div>
<% end %>


<% else %>
нет активного вопроса
<% end %>
