<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-wrapper">
        <%= f.text_field :name, :placeholder => "Название секции" %>
  </div>
  <br />
    <div class="input-wrapper">
        <%= f.text_area :descr, :placeholder => "Описание секции, тезисы" %>
  </div>
  <%= fields_for @section.meeting do |mf| %>
    <%= mf.hidden_field :id %>
  <% end %>
<br />
  <div class="input-wrapper-num">
    <%= f.label :anonymous_count, "Количество участников секции" %>: <%= f.number_field :anonymous_count, :min => 0, :max => 1000, :step => 10 %>
  </div>
  <div class="input-wrapper-num">
    <%= f.label :screens_count, "Количество экранов для вывода результатов" %>: <%= f.number_field :screens_count, :min => 0, :max => 1000, :step => 1 %>
  </div>
<hr>
  <div class="actions">
    <%= link_to (t "buttons.back"), @section.meeting, :class => "button" %>
    <%= f.submit (t "buttons.save"), :class => "button right" %>
  </div>
<% end %>
