<% content_for :head do %>
<%= stylesheet_link_tag "application/sections" %>
<%= javascript_include_tag "application/application" %>
<% end %>


<%= javascript_tag do %>
  $(function() {
  $('.screen_state_select').change(
  function(){
  $(this).closest('form').trigger('submit');
  })});
<% end %>

<p id="notice"><%= notice %></p>
<table>
<tr>
  <td style="width: 815px;" >
    <div id="mtng">
	<div class="name"><%= @section.name %></div>
	<div style="clear:both;"> </div>
	<div class="descr"><%= @section.descr %></div>
    </div>
  </td>

  <td>
    <div>
      <div>
	<%= t "anonymous_count" %> <b><%= @section.anonymous_count %></b>
      </div>
      <div>
        <% if section_owner? @section %>
	      <%= link_to (t 'sections.archive'), section_archive_path(@section) %>
        <% end %>
      </div>
    </div>
  </td>
</tr>
</table>
<hr> <!-- --------------------------------------------------------------------------------------------------- -->
<table border="0" style="width:100%;">
<tr style="height: 60px;">
  <td style="width:50%;">
  <br />
  <% if section_owner? @section %>
    <% @section.screens.each_with_index do |screen, idx| %>
      <div class="screen-mosaic">
        <div class="screen-block-element">
          Экран <%= "№ #{idx + 1}" %>
        </div>
        <div class="screen-block-element">
        <%= form_for screen do |f| %>
          <%= f.select :state, screen.rev_states, {}, {:title => "", :class => "screen_state_select"} %>
        <% end %>
        </div>
        <div class="screen-block-element">
          <%= link_to (t 'buttons.show'), screen, :class => "small_button", :title => "'Экран' откроется в новом окне", :style => "display: inline", :target => "_blank" %>
        </div>
      </div>
    <% end %>
    <br />
    <% end %>
  </td>
  <td>
      <div class="right">
	  <% if section_owner? @section %>
	    <%= link_to (t 'buttons.moderate'), twitts_edit_section_path(@section), :title => "Показать или скрыть сообщения чата", :class => "small_button"%>
	  <% end %>
	  <%= link_to (t 'buttons.showStatistic'), section_section_statistics_path(@section), :title => "Отобразить статистику по всем вопросам", :class => "small_button" %>
      </div>
  </td>
</tr>
</table>
<hr> <!-- --------------------------------------------------------------------------------------------------- -->
<div class="formHeader"><%= t "sections.questions" %></div>

<div id="sctn">
<% @section.questions.each do |question| %>
  <div class="name"><%= link_to question.question, question %></div>
  <div class="descr"><%= t question.state %>, <%= t question.kind %>
    <% if section_owner? @section %>
      <div class="edit">
        <% case question.state %>
        <% when "new" %>
          <%= link_to (t "buttons.show"), switch_state_question_path(question), :title => "Отобразить вопрос на 'Экран'", :method => :post, :class => "small_button" %>
        <% when "showed" %>
          <%= link_to (t "buttons.start-countdown"), start_countdown_question_path(question), :title => "Начать голосование с таймером", :method => :post, :class => "small_button" %>
          <%= link_to (t "buttons.start-vote"), switch_state_question_path(question), :title => "Начать голосование", :method => :post, :class => "small_button" %>
        <% when "active" %>
          <%= link_to (t "buttons.show-results"), switch_state_question_path(question), :title => "Завершить сбор голосов. Отобразить результаты на 'Экране'", :method => :post, :class => "small_button" %>
        <% when "statistics" %>
          <%= link_to (t "buttons.finish"), switch_state_question_path(question), :title => "Скрыть результаты. Закрыть вопрос", :method => :post, :class => "small_button" %>
        <% end %>

        <% if ["showed", "active", "statistics", "finished"].include? question.state %>
          <%= link_to (t "buttons.reset"), reset_state_question_path(question), :title => "Обнулить результаты. Перевести вопрос в статус 'Новый'", :method => :post, :data => {:confirm => "Все голоса участников будут удалены, продолжить ?"}, :class => "small_button" %>
        <% end %>
        
	    <%= link_to (t "buttons.edit"), edit_question_path(question), :title => "Редактировать вопрос и его тип", :class => "small_button" %>
	    <%= link_to (t "buttons.delete"), question, method: :delete, data: { confirm: 'Удалить вопрос?' }, :class => "small_button" %>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<div style="clear: both;"></div>
<br />
<hr />
  <%= link_to (t "buttons.back"), @section.meeting, :class => "button" %>
  <% if section_owner? @section %>
    <%= link_to (t "buttons.edit"), edit_section_path(@section), :class => "button" %>
    <%= link_to (t "buttons.create"), new_section_question_path(@section), :class => "button", :style => "float: right;" %>
  <% end %>


<!--
< %= link_to (t :edit), edit_section_path(@section) %> |
 -->

