<p id="notice"><%= notice %></p>

<div id="mtng">
    <div id="mtng" class="name"><%= @section.name %></div>
    <div id="mtng" class="descr"><%= @section.descr %></div>
</div>

<br /><b><%= t "anonymous_count" %></b><%= @section.anonymous_count %>

<div>
  <h1>
    <%= t 'twitts' %>
  </h1>

  <div>
    <%= link_to (t 'buttons.edit'), twitts_edit_section_path(@section), :class => "small_button" %>
    <%= link_to (t 'buttons.show'), twitts_section_path(@section), :class => "small_button" %>
  </div>
</div>

<div id="formHeader"><%= t "sections.questions" %></div>

<div id="sctn">
<% @section.questions.each do |question| %>
  <div class="name"><%= link_to question.question, question %></div>
    <div class="descr"><%= t question.state %> <%= t question.kind %>
    
    <div class="edit">
	<%= link_to (t "buttons.activate"), activate_question_path(question), :method => :post, :class => "small_button" %>
	<%= link_to (t "buttons.cancel"), cancel_question_path(question), :method => :post, :class => "small_button" %>
	<%= link_to (t "buttons.edit"), edit_question_path(question), :class => "small_button" %>
	<%= link_to (t "buttons.delete"), question, method: :delete, data: { confirm: 'Удалить вопрос?' }, :class => "small_button" %>
    </div>
   </div> 
<% end %>
</div>

<div style="clear: both;"></div>
<br />
<hr>
  <%= link_to (t "buttons.create"), new_section_question_path(@section), :class => "button", :style => "float: right;" %>
  <%= link_to (t "buttons.back"), @section.meeting, :class => "button" %>

<!--
< %= link_to (t :edit), edit_section_path(@section) %> |
 -->

