<% content_for :head do %>
<%= javascript_include_tag "application/static.home" %>
<% end %>

<div id="homeSlider">
  <img class="hsImage" src="/slider/1.png"/>
  <img class="hsImage" src="/slider/2.png"/>
  <img class="hsImage" src="/slider/3.png"/>
  <img class="hsImage" src="/slider/4.png"/>
</div>

<div id="homeSliderControls">
</div>


<ul class="homeLinks">
  <li><a class="aboutService" href="#"><%= t :Demo %></a></li>
  <li><a class="featureList" href="#"><%= t :FeatureList %></a></li>
  <li><a class="gallery" href="#"><%= t :Gallery %></a></li>
  <li><a class="downloadTheApp" href="#"><%= t :AnyLink %></a></li>
  <!--        <li><a class="watchTheScanAd" onclick="Scan.showPromoVideo();">Watch the Scan Ad</a></li>-->
</ul>
