<% content_for :head do %>
<%= stylesheet_link_tag "section_statistics" %>
<%= javascript_include_tag "application/application" %>
<% end %>


<div class="formHeader"><%= @section.name %></div>

  <% @section.questions.each do |question| %>

    <div class="question_text">
      <%= question.question %>
      <% if section_owner? @section %>
        <span>(проголосовало &mdash; <%= question.voted_anonymous_count %>)</span>
      <% end %>
    </div>



  <div class="answer_variants">

  <% question.formated_answer_variants.each do |aw| %>
      <div class="answer_variant" style="margin-right: 15px;">
	<div class="variant_spacer">
	    <div class="variant_text"> <%= aw[:text] %> &mdash; <%= "#{aw[:percent].round 2} %" %></div>

	    <div style="width: <%= aw[:percent] %>%" class="variant_strip" ></div>

	</div>
      </div>
    <% end %>
  </div>

</br>
<% end %>
<hr>
<div>
  <%= link_to (t "buttons.back"), @section, :class => "button" %>
</div>
