<div>
<%= @active.question %>
</div>
<div>
  <%= form_tag check_votes_path, :method => :post do %>
  <div>
    <%= hidden_field_tag 'anonymous[id]', @anonymous.id %>
    <% @active.answer_variants.each do |aw| %>
    <div>
      <%= check_box_tag 'answer_variant[id][]', aw.id %>
      <%= label :answer_variant, :id, aw.text, :value => aw.id %>
    </div>
    <% end %>
  </div>
  <%= submit_tag (t 'votes.do-vote') %>
  <% end %>
</div>
