<h2><%= @active.question %></h2>


<%= form_tag radio_votes_path, :"data-ajax" => "false", :method => :post, :class => "panel" do %>
<%= hidden_field_tag 'anonymous[id]', @anonymous.id %>

<fieldset data-role="controlgroup">
  <% @active.answer_variants.each do |aw| %>

      <%= radio_button_tag 'answer_variant[id]', aw.id %>
      <%= label :answer_variant, :id, aw.text, :value => aw.id %>

  <% end %>
</fieldset>

<%= submit_tag (t 'votes.do-vote') %>
<% end %>

