<%= form_for @twitt do |f| %>

  <%= fields_for @twitt.anonymous do |af| %>
  <%= af.hidden_field :id %>
  <% end %>

  <div>
    <%= f.label :text %>
  </div>
  <div>
    <%= f.text_area :text %>
  </div>

  <%= f.submit %>
  
<% end %>
