<%= content_for :head do %>
<%= javascript_include_tag "#{Settings.faye.address}/client.js" %>
<%= javascript_include_tag "anonymous-vote.js" %>
<%= javascript_include_tag "anonymous-chat.js" %>

<!-- %= javascript_include_tag "iscroll.js" % >
< %= javascript_include_tag "MyScroll.js" % --> 

<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.VOTE_CHANNEL = '<%= section_question_changed_channel(@anonymous.section) %>';
window.CHAT_URL = '<%= twitt_path(@anonymous.aid) %>'
window.TWITT_CHANNEL = '<%= section_new_twitt_channel(@anonymous.section) %>';
<% end %>

<!-- header -->
<div class="toolbar">
      <h1 id="pageTitle"></h1>
      <a id="backButton" class="button" href="#"></a>
      <a class="button" href="#twitt-form" style="display: none;">Написать</a>
</div>

<!-- first page -->
<div class="panel" title="QR-голос" selected="true" id="first">
  <fieldset>
     <p class="normalText">Cистема электронных голосований</p>
  </fieldset>
  <h2><%= @anonymous.section.name %></h2>
  <ul selected="true">
    <li class="arrow"><a href="#second">Чат секции</a></li>
  </ul>

<% if @active %>
  <% if @active.question_answered? @anonymous %>
    <fieldset>Вы уже ответили на этот вопрос, ожидайте пожалуйста.</fieldset>
  <% else %>
    <% if @active.kind == "radio"%>
      <%= render 'radio_question' %>
    <% elsif @active.kind == "check"%>
      <%= render 'check_question' %>
    <% elsif @active.kind == "stars"%>
      <%= render 'stars_question' %>
    <% end %>
  <% end %>

<% else %>
  <h2>Сейчас нет активных вопросов</h2>
<% end %>
</div>

<!-- username page -->
<% if @anonymous.name_number == nil %>
  <div class="panel" title="Чат" id="second">
  <%= render 'name' %>
  </div>
<% else %>
  <a id="Button" class="button" href="#">+</a>
  <div class="panel" class="postmsg" title="Чат" id="second">
  
  <%= render 'twitt' %>
<% end %>
</div>

<!-- DialogForm page -->

<%= form_for @twitt, :html => { :class => "dialog", :title => "Dialog", :selected => "false", :id => 'twitt-form' } do |f| %>
  <%= fields_for @twitt.anonymous do |af| %>
  <%= af.hidden_field :id %>
  <% end %>
  <fieldset>

      <h1>Отправить сообщение</h1>
      <a class="button leftButton" type="cancel">Отмена</a>
      <a id="submit-twitt" class="button blueButton" >Отправить</a>


      <%= f.text_field :text, :id => 'twitt-text' %>
      
  </fieldset>
<div class="spinner"></div>      
<% end %>

</div>




