<%= content_for :head do %>
<%= javascript_include_tag "#{Settings.faye.address}/client.js" %>
<%= javascript_include_tag "anonymous-vote.js" %>
<%= javascript_include_tag "anonymous-chat.js" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.VOTE_CHANNEL = '<%= section_question_changed_channel(@anonymous.section) %>';
<% end %>

<!-- header -->
<div class="toolbar">
      <h1 id="pageTitle"></h1><a id="backButton" class="button" href="#"></a>
</div>

<!-- first page -->
<div class="panel" title="QR-голос" selected="true" id="first">
  <fieldset>
     <p class="normalText">Cистема электронных голосований</p>
  </fieldset>
  <h2><%= @anonymous.section.name %></h2>
  <ul selected="true" id="first">
    <li class="arrow"><a href="#second">Чат секции</a></li>
  </ul>

<% if @active %>
  <% if @active.question_answered? @anonymous %>
    <fieldset>Вы уже ответили на этот вопрос, ожидайте пожалуйста.</fieldset>
  <% else %>
    <% if @active.kind == "radio"%>
      <%= render 'radio_question' %>
    <% elsif @active.kind == "check"%>
      <%= render 'check_question' %>
    <% elsif @active.kind == "stars"%>
      <%= render 'stars_question' %>
    <% end %>
  <% end %>

<% else %>
  <h2>Сейчас нет активных вопросов</h2>
<% end %>
</div>

<!-- username page -->
<div class="panel" title="Чат" id="second">
<% if @anonymous.name_number == nil %>
  <%= render 'name' %>
<% end %>
  <%= render 'twitt' %>
</div>




