<%= content_for :head do %>
<%= javascript_include_tag "mobile/anonymous-vote" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.VOTE_CHANNEL = '<%= section_question_changed_channel(@anonymous.section) %>';
<% end %>

<!-- header -->
<div data-role="page">

	<div data-role="header" data-position="fixed">
		<h1>QR-голос</h1>
	</div>

<!-- first page -->
<div data-role="content">
<div class="panel" title="QR-голос" selected="true" id="first">
  <fieldset>
     <p class="normalText">Cистема электронных голосований</p>
  </fieldset>
  <h2><%= @anonymous.section.name %></h2>

    <ul data-role="listview" data-inset="true">
	<li data-theme="">
	    <%= link_to "Чат секции", twitt_path(@anonymous.aid), :target => "_self" %>
	</li>
    </ul>

<% if @active %>
  <% if @active.question_answered? @anonymous %>
    <fieldset data-role="controlgroup">
      <p class="normalText">Вы уже ответили на этот вопрос, ожидайте пожалуйста.</p>
    </fieldset>
  <% else %>
    <% if @active.kind == "radio"%>
      <%= render 'radio_question' %>
    <% elsif @active.kind == "check"%>
      <%= render 'check_question' %>
    <% elsif @active.kind == "stars"%>
      <%= render 'stars_question' %>
    <% end %>
  <% end %>

<% else %>
  <fieldset>
    <p class="normalText">Сейчас нет активных вопросов</p>
  <fieldset>
<% end %>
</div>


<%= javascript_tag do %>
$( function(){
  $.mobile.ajaxEnabled = false;
});
<% end %>
