<%= content_for :head do %>
<%= javascript_include_tag "mobile/anonymous-chat.js" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.TWITT_CHANNEL = '<%= section_twitts_activated_channel(@anonymous.section) %>';
<% end %>

<!-- header -->
<div data-role="page">

      <div data-role="header" data-position="fixed">
	  <a href="index.html" data-rel="back">Назад</a>
	  <h1>QR-голос</h1>
	  <a href="#post-twitt" data-icon="plus" data-position-to="window" data-rel="popup">Написать</a>
      </div>

<!-- first page -->
      <div data-role="content">

	<div class="panel" title="QR-голос" selected="true" id="first">
	  <%= render 'twitt' %>
	</div>

<!-- Dialog POSTMSG Form page -->

<div data-role="popup" data-overlay-theme="a" id="post-twitt">

<%= form_for @twitt, "data-ajax" => "false", :method => "post"  do |f| %>
  <%= fields_for @twitt.anonymous do |af| %>
  <%= af.hidden_field :aid %>
  <% end %>
<div style="padding:10px 20px;">
    <h2>Отправить сообщение</h2>
    <%= f.text_area :text, :id => 'twitt-text', :rows => "4", :style => "width: 100%;" %>
    <p>Ваше сообщение будет опубликовано после проверки модератором</p>
    <button id="submit-twitt" type="submit" data-mini="true" data-icon="check" data-theme="b" class="ui-btn-hidden" aria-disabled="false">Отправить</button>
</div>

<% end %>

</div>

</div>

<script>
$( function(){
  $.mobile.ajaxEnabled = false;
});
</script>
