<%= content_for :head do %>
<%= javascript_include_tag "anonymous-chat.js" %>
<% end %>

<%= javascript_tag do %>
window.FAYE_ADDRESS = '<%= Settings.faye.address %>';
window.TWITT_CHANNEL = '<%= section_twitts_activated_channel(@anonymous.section) %>';
<% end %>

<!-- header -->
<div class="toolbar">
      <h1 id="pageTitle"></h1>
      <%= link_to "Назад", s_anonymous_path(@anonymous), :id => "bButton", :class => "button", :target => "_self", :style => "display: block" %>
      <a class="button" href="#post-twitt">Написать</a>
</div>

<!-- username page -->
<div class="panel" title="Чат" selected="true" id="first">
  <%= render 'twitt' %>
</div>


<!-- Dialog POSTMSG Form page -->

<%= form_for @twitt, :html => { :class => "dialog", :title => "Dialog", :selected => "false", :id => 'post-twitt' } do |f| %>
  <%= fields_for @twitt.anonymous do |af| %>
  <%= af.hidden_field :id %>
  <% end %>
  <fieldset>
      <h1>Чат</h1>
      <br />
      <span class="panel"><h2>Отправить сообщение</h2></span>
      <a class="button leftButton" type="cancel">Отмена</a>
      <a id="submit-twitt" class="button blueButton" >Отправить</a>
      <div style="width: 98%;"><%= f.text_area :text, :id => 'twitt-text', :rows => "3", :style => "width: 100%;" %></div>
  </fieldset>
<div class="spinner"></div>
<% end %>

</div>
