<%= form_for(@answer_variant) do |f| %>
  <% if @answer_variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer_variant.errors.count, "error") %> prohibited this answer_variant from being saved:</h2>

      <ul>
      <% @answer_variant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for @answer_variant.question do |qf| %>
  <%= qf.hidden_field :id %>
  <% end %>
  
  <div class="input-wrapper">
    <%= f.text_field :text, :placeholder => "Текст вопроса" %>
  </div>
<hr>
<div style="clear: both;"></div>
    <%= link_to (t "buttons.back"), @answer_variant.question, :class => "button" %>
    <%= f.submit :class => "button", :style => "float: right;"%>
<% end %>
