<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @answer_variant.question_id %>
</p>

<p>
  <b>Text:</b>
  <%= @answer_variant.text %>
</p>

<p>
  <b>Position:</b>
  <%= @answer_variant.position %>
</p>


<%= link_to 'Edit', edit_answer_variant_path(@answer_variant) %> |
<%= link_to 'Back', @answer_variant.question %>
