<% content_for :head do %>
<%= javascript_include_tag "application/application" %>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @answer_variant.question_id %>
</p>

<p>
  <b>Text:</b>
  <%= @answer_variant.text %>
</p>

<p>
  <b>Position:</b>
  <%= @answer_variant.position %>
</p>

<% if section_owner? @answer_variant.question.section %>
  <%= link_to (t "buttons.edit"), edit_answer_variant_path(@answer_variant) %> |
<% end %>
<%= link_to (t "buttons.back"), @answer_variant.question %>
