<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <%= javascript_tag do %>
	    // all dialog buttons should close their parent dialog
	    $(".ui-dialog button").live("click", function() {
		    $("[data-role='dialog']").dialog("close");
	    });
	    $(document).on("mobileinit", function(){
	      $.mobile.defaultPageTransition = "slide";
	    });
    <% end %>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <style>
	    #footerTabs {
		    background: #FFF -webkit-radial-gradient(circle, #FFF, #dee2e4);
	    }
	    .ui-listview sup {
		    font-size: 0.6em;
		    color: #cc0000;
	    }
    </style>

  <%= stylesheet_link_tag    "mobile", :media => "all" %>
  <!-- %= javascript_include_tag "jquery" % >
  < %= javascript_include_tag "iui" % -->
  <%= javascript_include_tag "#{Settings.faye.address}/client.js" %>
  <%= javascript_include_tag "faye-updater" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="messages">
	    <% if flash[:notice] %>
	      <p class="notice"><%= flash[:notice] %></p>
	    <% end %>
	    <% if flash[:alert] %>
	      <p class="alert"><%= flash[:alert] %></p>
	    <% end %>
	    <% if flash[:error] %>
	      <p class="error"><%= flash[:error] %></p>
	    <% end %>
	</div>
<%= yield %>
</body>
</html>
