<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
  </link>
  <link rel="icon" type="image/png" href="/favicon.png">
  </link>
  <%= stylesheet_link_tag    "screens", :media => "all" %>
  <%= javascript_include_tag "#{Settings.faye.address}/client.js" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
